@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    margin: 0px 10px 0px 0px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    border-radius: 25px;
    background-color: #ececec;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 25px;
  }
  
.rounded-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.rounded-checkbox .checkmark {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border-radius: 50%;
  border:2px solid black;
  cursor:pointer;
  vertical-align:middle
}

.rounded-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: #2196F3;
  border:0px
}

.rounded-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.rounded-checkbox input[type="checkbox"]:checked + .checkmark:after {
  display: block;
}

.rounded-checkbox .checkmark:after {
  left: 5.5px;
  top: 3px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
